$background-color: #FFF;
$background-accent: #EBEBEB;
$font-color: #666;
$contrast-accent: #EB4B2D;
$medium-accent: #FFBE28;
$darker-accent: #41BEEB;
$darkest-accent: #4B4B4B;

$mobile-device: 768px;
$laptop-desktop: 980px;

%ajustable-thumbnail {
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100px;

  @for $i from 1 through 17 {
    $page-width: $i * 50px + 150px;
    $image-height: ($i * 50px + 130px) * 0.66;
    @media only screen and (min-width: $page-width) {
      height: $image-height;
    }    
  }
}

%tag {
  background-color: $darker-accent;
  border-radius: 1px 3px 3px 1px;
  color: $background-color;
  display: inline-block;
  height: 1.8em;
  line-height: 1.8em;
  white-space: nowrap;
  padding: 0 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;

  &:before {
    position: absolute;
    top: 0;
    left: -0.86em;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent $darker-accent transparent transparent;
    border-style: solid;
    border-width: 0.9em 0.9em 0.9em 0;
    transition: .2s;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    display: block;
    content: '';
    width: 0.3em;
    height: 0.3em;
    margin-top: -0.15em;
    background-color: $background-color;
    border-radius: 100%;
  }

  &:hover {
    background-color: $contrast-accent;
    color: $background-color;
  
    &::before {
      border-right-color: $contrast-accent;
    }
  }
}

@mixin ribbon($start-color, $end-color, $font-color) {
  @media only screen and (max-width: 250px) {
    display: none;
  }

  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 134px;
  height: 134px;
  text-align: right;

  span {
    font-size: 0.8rem;
    font-weight: bold;
    color: $font-color;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6rem;
    transform: rotate(45deg);
    width: 180px;
    display: block;
    background: $start-color;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 2.65rem; right: -2.22rem;
    
    &::before {
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid darken($end-color, 10%);
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid darken($end-color, 10%);
    }

    &::after {
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid darken($end-color, 10%);
      border-bottom: 3px solid transparent;
      border-top: 3px solid darken($end-color, 10%);
    }
  }
}

@import "_normalize.scss";

body {
  background: $background-color;
  color: $font-color;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;

  @media only screen and (min-width: $mobile-device) {
    font-size: 15px;
  } 

  @media only screen and (min-width: $laptop-desktop) {
    font-size: 14px;
  }
}

header,
.content,
aside .wrapper,
footer .wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0.5rem 1rem;
}

a {
  color: darken($darker-accent, 15%);

  &:hover {
    color: $contrast-accent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-align: center;
  
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  color: $medium-accent;   
  white-space: nowrap;

  a {
    color: $medium-accent;
  }
}

h2 {
  color: $darker-accent;

  a {
    color: $darker-accent;
  }
}

h3 {
  color: $darkest-accent;
  font-size: 1.4rem;
  margin-left: 1em;
  text-align: left;
}

h4 {
  margin: 0.5em 0 0.8em 0;
}

ul {
  list-style: square outside;
}

li {
  margin: 0.2em;
}

a.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  width: 1px;
  text-align: left;
  overflow: hidden;

  &:active, 
  &:focus, 
  &:hover {
    background-color: $background-color;
    border: 1px solid $darkest-accent;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    display: block;
    font-size: 2em;
    left: 50%;
    margin: 0 0 0 -25%;
    overflow: visible;
    padding: 1rem;
    text-align: center;
    top: 0;
    width: 50%; 
    z-index: 99;
  }
}

header {
  position: relative;

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
    li {
      display: inline-block;
      margin: 0 0.2em;
    
      &:first-child {
        margin: 0 0.1em 0 0;
      }
      &:last-child {
        margin: 0 0 0 0.1em;
      }
    }

    a:hover {
      color: $contrast-accent;
    }
  }

  @media only screen and (min-width: $laptop-desktop) {
    h1 {
      line-height: 4rem;
      margin: 0;
      text-align: left;
    }
    
    ul.menu {
      display: block;
      line-height: 4rem;
      margin: 0;
      position: absolute;
      right: 1em;
      top: 0;
    }
  }
}

article {

  .post-thumbnail {
    @extend %ajustable-thumbnail;   
    border: 0.5px solid lighten(#666, 40%);
    border-radius: 0.5rem;
    position: relative; // For ribbon alignment
 
    .ribbon {
      @include ribbon($contrast-accent, darken($contrast-accent, 10%), $background-color);
    }
  }

  .post-meta {
    font-size: 0.75em;
    line-height: 2em;
    text-align: right;

    .date {
      color: lighten($font-color, 30%);  
      display: inline-block;
    }
  
    .tags {
      display: inline-block;
      list-style: none;
      margin: 0 0.5em;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 0 .3em 1em;
        padding: 0;

        a {
          @extend %tag;
        }
      }
    }
  }

  #lightgallery {
    a {
      text-decoration: none;
    }
  }
}

aside {
  background-color: $medium-accent;
  
  a {
    color: $darkest-accent;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  section {
    flex-basis: 16rem;
    flex-grow: 1;

    h4 {
      color: $background-color;
      font-size: 1.2rem;
      font-weight: bold;
      text-shadow: 0px 1px 1px lighten($font-color, 40%);
    }
    
    ul {
      font-size: 0.9em;
      list-style: none;
      padding: 0 0.2em;
    }
  }

  section.tags {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0.6em;
      
      @media only screen and (min-width: $mobile-device) {
        font-size: 0.8em;
      } 
    
      @media only screen and (min-width: $laptop-desktop) {
        font-size: 0.9em;
      }
    
      li {
        display: inline-block;
        margin: 0 0 .3em 1em;
        padding: 0;

        a {
          @extend %tag;
        }
      }
    }
  }
}

ul.pager {
  color: lighten($font-color, 30%);
  font-size: 0.9em;
  padding: 0 1em;
  text-align: center;


  li {
    display: inline;
    margin: 0 0.5em;
  }
}

footer {
  background-color: $contrast-accent;
  color: lighten($font-color, 40%);
  font-size: 0.8rem;
  

  a {
    color: $background-color;

    &:hover {
      color: $darkest-accent;
    } 
  }

  .wrapper {
    padding: 1rem;
    text-align: center;
  }

  div.wrapper > div {
    display: inline-block;
    margin: 0 0.5em;
  }

}